.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.landing{
  background: url('./assets/images/home/rocket.gif');
  background-size: cover;
  margin-bottom: -1% !important;
}
.team{
  background: url('./assets/images/team/banner.jpg');
  background-size: cover;
  padding: 10em !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-hover-zoom--quick-zoom:hover img{
  transform: scale(1.1);
}


hr.dashed {
  /* border-top: 2px dashed #999; */
}
.subcardimg img {height: 35vh;}
#multi-item-example .carousel-indicators li {background-color: #666;}
.homeslider img{
	height: 100vh;
}

.electrical{
  background: url("./assets/images/project/ebanner.jpg");
  background-size: cover;
  padding: 10em !important;
}
.carrier{
  background: url("./assets/images/project/carbanner.jpg");
  background-size: cover;
  padding: 10em !important;

}
.payload{
  background: url("./assets/images/project/banner_2.PNG");
  background-size: cover;
  padding: 11em !important;
}


.para {text-align: justify;}
.mission {
  background: url("./assets/images/mission/banner.jpg");
  background-size: cover;
  padding: 30vh !important;
}
.videocs {
  height: 55%;
  width: 100%;
}
 .justify-content {text-align: justify;} 
.scienceimg {
  height: 60vh !important;
  width: 100%;
}
.heatimg{width:50%;float: left; margin-right: 5%;}
p{font-size: 16px !important;}